{% set mnths = ['','января','февраля','марта','апреля','мая','июня','июля','августа','сентября','октября','ноября','декабря'] %}

<div class="content">
    <h1>ДАТЫ МЕРОПРИЯТИЙ</h1>

    {% if schedule %}

        <h2 style="margin-bottom: -20px;">Занятия</h2>

        {% for item in schedule %}
            <div class="info-box">
                <div class="title">{{ item.title }}</div>
                <div>{{ item.text }}</div>
            </div>
        {% endfor %}

        <div class="clearfix"></div>

    {% endif %}


    {% if datesOfMedical %}

        <h2 style="margin-bottom: -20px;">Даты медосмотров</h2>

        {% for item in datesOfMedical %}
            <div class="info-box">
                <div class="title">{{ item.date | date("j") }} {{ mnths[item.date |date("n")] }}</div>
                {{ item.text }}
            </div>
        {% endfor %}

        <div class="clearfix"></div>

    {% endif %}

    {% if datesOfExam %}

        <h2 style="margin-bottom: -20px;">Даты экзаменов</h2>

        {% for item in datesOfExam %}
            <div class="info-box">
                <div class="title">{{ item.date | date("j") }} {{ mnths[item.date |date("n")] }}</div>
                {{ item.text }}
            </div>
        {% endfor %}

    {% endif %}

    <div class="clearfix"></div>

    <div style="margin: 20px;" class="clearfix"></div>
</div>