{% extends 'base.html.twig' %}

{% block title %}Автошкола Пилот-М{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/glyphicon.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('css/site/style.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('css/style.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('css/loading.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('css/jquery-ui.min.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('css/jquery-ui.structure.min.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('css/jquery-ui.theme.min.css') }}" rel="stylesheet" media="screen">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('js/md-site.js') }}"></script>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script src="{{ asset('js/map.js') }}"></script>

    <script type="text/javascript">

        var mobileVersionTitle;
        var logo;

        $(document).ready(function () {
            mobileVersionTitle = $('#mobile-version-title');
            logo = $('#logo');

            setSelected('{{ content }}');
        });

        var isMenuOpened = false;
        function changeMenuState() {
            if ($(document).width() > 750) return;

            isMenuOpened = !isMenuOpened;
            if (isMenuOpened) {
                $('.menu').fadeIn(150)
            } else {
                $('.menu').fadeOut(150)
            }
        }

        function changeImageToTitle() {
            logo.hide();
            mobileVersionTitle.show();
            //mobileVersionTitle.fadeIn(150);
        }

        function changeTitleToImage() {
            logo.show();
            //logo.fadeIn(150);
            mobileVersionTitle.hide();
        }

        $(document).on('scroll', function (e) {
            if ($(document).width() > 750) return;

            if ($(document).scrollTop() < 500) {
                changeTitleToImage();
            }
            else {
                changeImageToTitle();
            }
        });

        //site pages loading functions
        function loadMainPage() {
            loadContent('{{ path('site_index') }}', 'Автошкола Пилот-М', true);
            setSelected('main');
            changeMenuState();
        }

        function loadEventsPage() {
            loadContent('{{ path('site_events') }}', 'Даты мероприятий', true);
            setSelected('events');
            changeMenuState();
        }

        function loadTheoryAndPracticePage() {
            loadContent('{{ path('site_theory_and_practice') }}', 'Теория и практика', true);
            setSelected('theory-and-practice');
            changeMenuState();
        }

        function loadResourcesPage() {
            loadContent('{{ path('site_resources_for_students') }}', 'Ресурсы', true);
            setSelected('resources');
            changeMenuState();
        }


        function loadEnrollPage() {
            loadContent('{{ path('site_enroll') }}', 'Запись', true);
            setSelected('enroll');
            changeMenuState();
        }

        function loadAboutPage() {
            loadContent('{{ path('site_about') }}', 'О нас', true);
            setSelected('about');
            changeMenuState();
        }

        function loadInfoPage() {
            loadContent('{{ path('site_info') }}', 'Сведения', true);
            setSelected('info');
            changeMenuState();
        }

    </script>
{% endblock %}

{% block body %}

    <div class="content" style="margin-bottom: 20px">
        <div class="clearfix">
            <div class="logo-space"></div>
            <div class="header">
                <div style="height: 0;">
                    <div class="menu-icon" onclick="changeMenuState()"></div>
                </div>
                <div id="logo" class="logo"></div>
                <div id="mobile-version-title" class="title center"
                     style="margin-top: -5px !important; height: 65px; display: none; pointer-events: none;">Главная
                </div>
            </div>

            <ul class="menu noselect">
                <li class="menu-item">
                    <a id="main" onclick="loadMainPage()">Главная</a>
                </li>
                <li class="menu-item menu-item-dropdown">
                    <a id="for-students">Для учащихся</a>
                    <div class="dropdown-menu">
                        <a id="events" class="dropdown-item" onclick="loadEventsPage()">Даты мероприятий</a>
                        <a id="theory-and-practice" class="dropdown-item" onclick="loadTheoryAndPracticePage()">Теория и
                            практика</a>
                        <a id="resources" class="dropdown-item" onclick="loadResourcesPage()">Ресурсы</a>
                    </div>
                </li>
                <li class="menu-item">
                    <a id="enroll" onclick="loadEnrollPage()">Записаться</a>
                </li>
                <li class="menu-item">
                    <a id="about" onclick="loadAboutPage()">Об атошколе</a>
                </li>
                <li class="menu-item">
                    <a id="info" onclick="loadInfoPage()">Сведения</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="blue-line">
        <div class="content clearfix">
            <table style="width: 100%">
                <tr>
                    <td>
                        <h1 class="blue-line-title">Автошкола ООО “Пилот-М”</h1></td>
                    <td>
                        <div class="blue-line-right-info">ул.Бутлерова дом 30</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="blue-line-subtitle">в центре города станция метро пл. Тукая</div>
                    </td>
                    <td>
                        <div class="blue-line-right-info">ул.Профсоюзная дом 40-42</div>
                    </td>
                <tr>
            </table>
        </div>
    </div>

    <div id="circleG" style="margin-top: 75px; display: none;">
        <div class="title center" style="color: #575757;">Загрузка</div>
        <div id="circleG_1" class="circleG"></div>
        <div id="circleG_2" class="circleG"></div>
        <div id="circleG_3" class="circleG"></div>
    </div>

    <div id="content">

        {% if content == 'main' %}

            {% include 'site/main.html.twig' %}

        {% elseif content == 'events' %}

            {% include 'site/events.html.twig' %}

        {% elseif content == 'theory-and-practice' %}

            {% include 'site/theory_and_practice.html.twig' %}

        {% elseif content == 'resources' %}

            {% include 'site/resources_for_students.html.twig' %}

        {% elseif content == 'enroll' %}

            {% include 'site/enroll.html.twig' %}

        {% elseif content == 'about' %}

            {% include 'site/about.html.twig' %}

        {% elseif content == 'info' %}

            {% include 'site/info.html.twig' %}

        {% endif %}

    </div>

{% endblock %}
