{% extends 'base.html.twig' %}

{% block title %}Автошкола Пилот-М{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/glyphicon.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('css/site/style.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('css/style.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('css/loading.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('css/jquery-ui.min.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('css/jquery-ui.structure.min.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('css/jquery-ui.theme.min.css') }}" rel="stylesheet" media="screen">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/jquery-ui.min.js') }}"></script>

    <script type="text/javascript">

        var contentContainer;
        var loadingIndicator;

        $(document).ready(function () {
            contentContainer = $('#content');
            loadingIndicator = $('#circleG');

            loadingIndicator.hide();
        });

        function loadContent(url, title, addToHistory) {
            if (url != undefined && contentContainer != undefined) {

                loadingIndicator.show();
                contentContainer.hide();

                $.ajax({
                    url: url,
                    type: "GET"
                }).done(function (data) {
                    document.title = title;

                    loadingIndicator.hide();

                    contentContainer.fadeTo(200, 1);
                    contentContainer.html(data);

                    if (addToHistory) {
                        window.history.pushState({"html": data, "pageTitle": title}, title, url);
                    }
                });
            }
        }

        function showDialog(title, message) {
            var dialogMessage = $("<div/>");
            var messageContainer = $('<p/>', {
                html: message
            });
            dialogMessage.append(messageContainer);

            dialogMessage.dialog({
                title: title,
                modal: true,
                buttons: {
                    "Закрыть": function () {
                        $(this).dialog("close");
                    }
                }
            });
        }

    </script>
{% endblock %}

{% block body %}

    <div class="content" style="margin-bottom: 20px">
        <div class="clearfix">
            <div class="logo-space"></div>
            <div class="header">
                <div class="logo"></div>
            </div>

            <ul class="menu">
                <li class="menu-item"><a onclick="loadContent('{{ path('site_index') }}', 'Автошкола Пилот-М', true)">Главная</a></li>
                <li class="menu-item"><a onclick="loadContent('/news', 'Новости', true)">Новости</a></li>
                <li class="menu-item"><a>Об атошколе</a></li>
                <li class="menu-item"><a>Записаться</a></li>
                <li class="menu-item"><a onclick="loadContent('{{ path('site_for_students') }}', 'Для учащихся', true)">Для учащихся</a></li>
            </ul>
        </div>
    </div>

    <div class="blue-line">
        <div class="content clearfix">
            <table style="width: 100%">
                <tr>
                    <td>
                        <h1 class="blue-line-title">Автошкола ООО “Пилот-М”</h1></td>
                    <td>
                        <div class="blue-line-right-info">ул.Бутлерова дом 30</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="blue-line-subtitle">в центре города станция метро пл. Тукая</div>
                    </td>
                    <td>
                        <div class="blue-line-right-info">ул.Профсоюзная дом 40-42</div>
                    </td>
                <tr>
            </table>
        </div>
    </div>

    <div id="circleG" style="margin-top: 75px">
        <div class="title center" style="color: #575757">Загрузка</div>
        <div id="circleG_1" class="circleG"></div>
        <div id="circleG_2" class="circleG"></div>
        <div id="circleG_3" class="circleG"></div>
    </div>

    <div id="content">

        {% if content == 'main' %}

            {% include 'site/main.html.twig' %}

        {% elseif content == 'for-students' %}

            {% include 'site/for_students.html.twig' %}

        {% endif %}

    </div>

{% endblock %}
