<div class="content">

    {% if datesOfAdmission %}

        <h2 style="margin-bottom: -20px;">Даты набора</h2>

        {% set mnths = ['','января','февраля','марта','апреля','мая','июня','июля','августа','сентября','октября','ноября','декабря'] %}

        {% for item in datesOfAdmission %}
            <div class="info-box">
                <div class="title">{{ item.date | date("j") }} {{ mnths[item.date |date("n")] }}</div>
                {{ item.text }}
            </div>
        {% endfor %}

        <div class="clearfix"></div>

    {% endif %}


    <h2>Стоимость обучения</h2>
    <div class="text">
        Обучение водителей категории «В»:
        <div>-Механическая коробка -25000 (двадцать пять тысяч рублей)</div>
        <div>-Автоматическая коробка передач-28000 (двадцать восемь тысяч рублей)</div>
    </div>
    <div class="clearfix"></div>

    {% if promotion %}

        <h2>Наши преимущества</h2>

        {% for item in promotion %}
            <div class="text">
                -{{ item.text }}
            </div>
        {% endfor %}

        <div class="clearfix"></div>

    {% endif %}

</div>

<div style="margin: 50px;" class="clearfix"></div>

{{ form_start(form, {'attr': {'id': 'user-application-form', 'class': 'form-send-to-email'}}) }}
<div class="content">

    <h2 style="margin: 0 0 20px 0">Подать заявку</h2>

    {{ form_widget(form) }}

    <input class="button" style="margin-top: 20px" type="submit">
</div>
{{ form_end(form) }}

<script type="text/javascript">

    var form = $('#user-application-form');

    form.submit(function () {
        var request = $.ajax({
            url: form.attr("action"),
            type: 'POST',
            data: form.serialize()
        });

        request.done(function (data) {
            if (data.status == 'ok') {
                showDialog('Успешно', 'Заявка принята. Вам перезвонят.');
            }
        });

        request.fail(function (data) {
            showDialog('Ошибка с сервера', data.responseJSON.errors);
        });

        return false;
    });

</script>


<div class="content">
    <h2>Контактная информация </h2>
    <div class="info-box">
        г. Казань,
        ул, Бутлерова,
        дом 30
        <div>тел: +7(843) 267-58-08</div>
        <div>тел: +7 (927)-400-06-65</div>
    </div>

    <div class="info-box">
        г. Казань,
        ул. Профсоюзная,
        дом 40-42
        <div>тел: +7(843) 214-34-14</div>
        <div>тел: +7 (927)-400-06-64</div>
    </div>

    <div class="clearfix"></div>

    <div style="margin: 124px;" class="clearfix"></div>

</div>